@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-image: url("/Weather/img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  width: 1100px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "m a s" "m w w";
  -ms-grid-columns: 10fr 12px 6fr 12px 6fr;
  grid-template-columns: 10fr 6fr 6fr;
  -ms-grid-rows: 5fr 12px 5fr;
  grid-template-rows: 5fr 5fr;
  grid-gap: 12px;
}

.standart-block {
  border-radius: 10px;
  background-color: rgb(109, 103, 208);
}

.main-data {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  background-image: url("/Weather/img/cloudsBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: m;
  overflow: visible;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "c l" "t t" "o o";
  -ms-grid-rows: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}
.main-data__clouds {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: c;
}
.main-data__current-location {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: l;
  color: rgb(194, 191, 244);
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  padding-top: 25px;
  padding-right: 25px;
  text-align: right;
}
.main-data__temperature {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: t;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 106px;
  color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.main-data__degree {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #dad8f7;
}
.main-data__other {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: o;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
  gap: 12px;
}
.main-data__block {
  padding-top: 14px;
  gap: 12px;
  background: rgba(102, 96, 200, 0.6);
  border-radius: 6px;
  width: 146.67px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-data__icon {
  width: 32px;
  height: 32px;
  opacity: 0.4;
}
.main-data__iconify {
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.main-data__info p:first-child {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #e7e6fb;
}
.main-data__info p:nth-child(2) {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #e7e6fb;
}

.main-data img {
  position: relative;
  left: -100px;
  top: -100px;
}

.air-data {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-area: a;
}
.air-data__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #dad8f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.air-data__general {
  text-align: center;
}
.air-data__general p:first-child {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #87ebcd;
}
.air-data__general p:nth-child(2) {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #e7e6fb;
}
.air-data__other-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.air-data__item p:first-child {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #87ebcd;
}
.air-data__item p:nth-child(2) {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #e7e6fb;
}

.sun-data__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #dad8f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}
.sun-data__chart-wrapper {
  margin-top: 4rem;
  height: 11rem;
}
.sun-data__sun-chart {
  --pos-x: 75;
  margin: auto;
  width: 21.6rem;
  height: 21.6rem;
  position: relative;
}
.sun-data__sun-chart::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  background: #f6c833;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -0.6rem;
  -webkit-transform: rotate(calc(1deg * (100 - var(--pos-x)) / -100 * 180)) translate(10.6rem);
          transform: rotate(calc(1deg * (100 - var(--pos-x)) / -100 * 180)) translate(10.6rem);
}
.sun-data__chart {
  width: 21.6rem;
  height: 10.8rem;
  overflow: hidden;
}
.sun-data__chart img {
  position: absolute;
  top: 0;
  left: 13%;
}
.sun-data__now {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}
.sun-data__time {
  font-size: 1.2rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 0 1.6rem 1.6rem;
  max-width: 27.6rem;
}
.sun-chart {
  margin: auto;
  width: 300px;
  height: 300px;
  position: relative;
}

.horizon {
  width: 100%;
  height: 1px;
  background: #ccc;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sun {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f6c833;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: sun-animation 20s infinite linear;
          animation: sun-animation 20s infinite linear;
}

.sun-path {
  width: 200px;
  height: 100px;
  border-radius: 100px 100px 0 0;
  border: 1px solid #f6c833;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

.sun-path-line {
  width: 1px;
  height: 100px;
  background-color: #f6c833;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  -webkit-animation: path-animation 20s infinite linear;
          animation: path-animation 20s infinite linear;
}

@-webkit-keyframes sun-animation {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(270deg);
            transform: translate(-50%, -50%) rotate(270deg);
  }
}

@keyframes sun-animation {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(270deg);
            transform: translate(-50%, -50%) rotate(270deg);
  }
}
@-webkit-keyframes path-animation {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@keyframes path-animation {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.week-data {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: w;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.week-data__element {
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 15px;
}
.week-data__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: capitalize;
  color: #DAD8F7;
}
.week-data__temperature-day {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.iconify-week {
  width: 64px;
  height: 64px;
}